<div class="password-form">
  <div class="forgot-password">
    <div class="container">
      <div class="row">
        <div class="small-form-container col-center cell-spacing">
          <h1 class="text-center">Mot de passe oubliée ?</h1>
          <div class="small-form text-center">
            <mat-spinner *ngIf="loading" class="block-center" color="accent"></mat-spinner>
            <form [formGroup]="getResetTokenForm" *ngIf="!loading" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Votre adresse mail</label>
                <input type="email" class="form-control" class="form-control" formControlName="email" required />
                <div *ngIf="formErrors.email" class="alert alert-danger">
                  {{ formErrors.email }}
                </div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn-full-width" mat-raised-button color="accent">Réinitialiser mon mot de passe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
