<div class="mt-2 mb-3 container" *ngIf="alertNoCoach || alertNoWorkout">
    <div *ngIf="alertNoWorkout" class="alert" [ngClass]="{ 'alert': alertNoWorkout, 'alert-success': alertNoWorkout.type === 'success', 'alert-danger': alertNoWorkout.type === 'error', 'alert-info': alertNoWorkout.type === 'info', 'alert-warning': alertNoWorkout.type === 'warn' }">
      <strong>{{alertNoWorkout.title}}</strong><br/>
      <p>Vous n'avez pas encore crée de séance type.<br/>Pour pouvoir ajouter une session au planning, il vous faut dans un premier temps  <a routerLink="/partner/workouts/add">créer une séance type</a>.</p>
    </div>
    <div *ngIf="alertNoCoach" class="alert" [ngClass]="{ 'alert': alertNoCoach, 'alert-success': alertNoCoach.type === 'success', 'alert-danger': alertNoCoach.type === 'error', 'alert-info': alertNoCoach.type === 'info', 'alert-warning': alertNoCoach.type === 'warn' }">
        <strong>{{alertNoCoach.title}}</strong><br/>
        <p>Vous n'avez pas encore crée de coach pour votre société.<br/>Pour pouvoir ajouter une session au planning, il vous faut dans un premier temps <a routerLink="/partner/coach/add">créer un coach</a>.</p>
    </div>
</div>
<form *ngIf="formReady" [formGroup]="workoutInstanceForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
    <div class="form-group col-6">
        <label for="coach" class="form-label">Coach</label>
        <div class="">
            <select *ngIf="coaches.length" class="form-control" formControlName="coach" name="coach">
                <option value="-1" disabled="" selected="">
                  Sélectionnez un coach
                </option>
                <option *ngFor="let coach of coaches" [ngValue]="coach">
                    {{coach.firstname}} - {{coach.lastname}}
                </option>
            </select>
            <div *ngIf="formErrors.coach" class="form-error">
                {{ formErrors.coach }}
            </div>
        </div>
    </div>
    <div class="form-group col-6">
        <label for="workout" class="form-label">Séance type</label>
        <div class="">
            <select *ngIf="workouts.length" class="form-control" formControlName="workout" name="workout">
                <option value="-1" disabled="" selected="">
                  Sélectionnez un séance
                </option>
                <option *ngFor="let workout of workouts" [ngValue]="workout">
                    {{workout.title}}
                </option>
            </select>
            <div *ngIf="formErrors.workout" class="form-error">
                {{ formErrors.workout }}
            </div>
        </div>
    </div>
    </div>
  <div class="form-group row">
    <label for="nbTicketAvailable" class="col-sm-3 col-form-label">Quantité de place disponible à la réservation</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="nbTicketAvailable" name="nbTicketAvailable">
      <div *ngIf="formErrors.nbTicketAvailable" class="form-error">
        {{ formErrors.nbTicketAvailable }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="startdate">Date</label>
      <div>
        <ngb-datepicker #dp formControlName="startdate" name="startdate" [minDate]="ngbTomorrow"></ngb-datepicker>
        <div *ngIf="formErrors.startdate" class="form-error">
          {{ formErrors.startdate }}
        </div>
      </div>
    </div>
    <div class="form-group col-6">
      <label for="starttime">Heure de début</label>
      <ngb-timepicker [spinners]="false" formControlName="starttime" name="starttime"></ngb-timepicker>
      <div *ngIf="formErrors.starttime" class="form-error">
        {{ formErrors.starttime }}
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="loading || !workoutInstanceForm.valid" md-raised-button color="primary" class="pull-right mb-3">Enregistrer</button>
</form>
