<form [formGroup]="workoutForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.target.tagName == 'TEXTAREA'" novalidate>
  <md-tab-group [dynamicHeight]="true">
    <md-tab label="1 - Date">
      <div class="tab-container">
        <div class="form-card">
          <div class="form-card-title">
            <h4>Date</h4>
          </div>
          <div class="form-card-content">
            <div class="form-group">
              <label for="example-text-input">Date</label>
              <div>
                <!-- <ngbd-datepicker-i18n #dp formControlName="startdate" [(ngModel)]="selectedStartDate" name="startdate" [minDate]="ngbTomorrow"></ngbd-datepicker-i18n> -->
                <ngb-datepicker #dp formControlName="startdate" [(ngModel)]="selectedStartDate" name="startdate" [minDate]="ngbTomorrow"></ngb-datepicker>
                <div *ngIf="formErrors.startdate" class="form-error">
                    {{ formErrors.startdate }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="example-text-input">Heure de début</label>
              <ngb-timepicker [spinners]="false" formControlName="starttime" [(ngModel)]="selectedStartTime" name="starttime" (ngModelChange)="recalcMainworkoutDates()"></ngb-timepicker>
              <div *ngIf="formErrors.starttime" class="form-error">
                  {{ formErrors.starttime }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="2 - Votre séance">
      <div class="tab-container">
        <div class="form-card">
          <div class="form-card-title">
            <h4>Votre séance</h4>
          </div>
          <div class="form-card-content">
            <div class="form-group">
              <label for="title">Titre de la séance</label>
              <input type="text" class="form-control" formControlName="title" name="title">
              <div *ngIf="formErrors.title" class="form-error">
                  {{ formErrors.title }}
              </div>
            </div>
            <div class="form-group">
              <label for="sport">Sport</label>
              <ng2-completer [inputClass]="'form-control'" formControlName="sport" name="sport" [overrideSuggested]="true" [dataService]="sportDataService" (selected)="selectSport($event)" [textNoResults]="false"></ng2-completer>
              <div *ngIf="formErrors.sport" class="form-error">
                  {{ formErrors.sport }}
              </div>
            </div>
            <div class="form-group">
              <label for="example-text-input">Durée</label>
              <ngb-timepicker formControlName="duration" [(ngModel)]="duration" name="duration" [spinners]="false"></ngb-timepicker>
              <div *ngIf="formErrors.duration" class="form-error">
                  {{ formErrors.duration }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-card">
          <div class="form-card-title">
            <h4>Lieu</h4>
          </div>
          <div class="form-card-content">
            <div class="form-group">
              <div class="row">
                <div class="col-7">
                  <select *ngIf="partnerAddresses.length" class="addresses form-control" formControlName="address">
                          <option *ngFor="let address of partnerAddresses" [ngValue]="address">
                              {{address.name}} - {{address.city}}
                          </option>
                      </select>
                      <div *ngIf="formErrors.address" class="form-error">
                          {{ formErrors.address }}
                      </div>
                </div>
                <div class="col-5 text-right">
                  <button type="button" md-raised-button color="accent" (click)="showModalAddressFormComponent()">
                          <md-icon class="md-24">add</md-icon>Ajouter une adresse
                      </button>
                </div>
              </div>
              <div class="row" *ngIf="workoutForm.value.address.name">
                <div class="col-12">
                  <p class="address">{{workoutForm.value.address.name}}<br/> {{workoutForm.value.address.firstline}}
                    <br/> {{workoutForm.value.address.postalCode}} - {{workoutForm.value.address.city}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-card">
          <div class="form-card-content">
            <div class="form-group">
              <label for="price" class="big">Prix par participant :</label>
              <div class="input-group input-float">
                <input type="text" class="form-control" id="price" formControlName="price" [(ngModel)]="workout.price" name="price" required (blur)="forceIntegerPrice()">
                <div class="input-group-addon">€</div>
              </div>
              <div *ngIf="formErrors.price" class="form-error">
                  {{ formErrors.price }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-card">
          <div class="form-card-content">
            <div class="form-group">
              <label for="example-text-input" class="big">Nombre de places proposées :</label>
              <input type="number" class="form-control input-float" id="nbTicketAvailable" formControlName="nbTicketAvailable" [(ngModel)]="workout.nbTicketAvailable" name="nbTicketAvailable" required (blur)="forceIntegerNbTicket()">
              <div *ngIf="formErrors.nbTicketAvailable" class="form-error">
                  {{ formErrors.nbTicketAvailable }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-tab>

    <md-tab label="3 - Détails">
      <div class="tab-container">
        <div class="form-card">
          <div class="form-card-title">
            <h4>Image</h4>
          </div>
          <div class="form-card-content">
            <div class="form-group">
              <img-cropper [image]="cropperData" [settings]="cropperSettings" (onCrop)="setWorkoutImageData()"></img-cropper>
            </div>
          </div>
        </div>
        <div class="form-card">
          <div class="form-card-title">
            <h4>Description</h4>
          </div>
          <div class="form-card-content">
            <div class="form-group">
              <label for="example-text-input">Description générale</label>
              <textarea placeholder="Décrivez ici le déroulement et atouts de votre séance." formControlName="description" name="description" class="form-control" rows="3"></textarea>
              <div *ngIf="formErrors.description" class="form-error">
                  {{ formErrors.description }}
              </div>
            </div>
            <div class="form-group">
              <label for="example-text-input">Tenue</label>
              <textarea placeholder="Notez ici les besoins spécifique pour votre séance." formControlName="outfit" name="outfit" class="form-control" rows="3"></textarea>
              <div *ngIf="formErrors.outfit" class="form-error">
                  {{ formErrors.outfit }}
              </div>
            </div>
            <div class="form-group">
              <label for="example-text-input">Remarque utile</label>
              <textarea placeholder="Exemple : Vous trouverez un parking à 150 mètre sur la droite du bâtiment..." formControlName="notice" name="notice" class="form-control" rows="3"></textarea>
              <div *ngIf="formErrors.notice" class="form-error">
                  {{ formErrors.notice }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-card">
          <div class="form-card-title">
            <h4>Tags</h4>
          </div>
          <div class="form-card-content">
              <div class="row">
             <div class="col-7">
                  <ng2-completer [inputClass]="'form-control'" formControlName="tag" [(ngModel)]="workout.tags.name" name="tags" [overrideSuggested]="true" [dataService]="tagDataService" (selected)="selectTag($event)" [textNoResults]="false"></ng2-completer>
            </div>
            <div class="col-5">
              <button type="button" md-raised-button color="accent" (click)="addTag()">
                      <md-icon class="md-24">add</md-icon>Ajouter
                  </button>
            </div>
        </div>
            <div class="taglist">
              <span class="tagbadge" *ngFor="let tag of workout.tags">
                {{tag.name}} <md-icon (click)="removeTag(tag)">delete</md-icon>
              </span>
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="loading || !workoutForm.valid" md-raised-button color="primary">Enregistrer</button>
      </div>
    </md-tab>
  </md-tab-group>
</form>
