<div class="container">
  <h1 class="h2 alt-font mb-3">Ajouter des sessions à la séance : <span *ngIf="workoutInstance.workout">{{ workoutInstance.workout.title }}</span></h1>
      <div class="row">
          <div class="col-12 mt-2 mb-3 container" *ngIf="alertNoCoach || alertInfo">
          <div *ngIf="alertNoCoach" class="alert" [ngClass]="{ 'alert': alertNoCoach, 'alert-success': alertNoCoach.type === 'success', 'alert-danger': alertNoCoach.type === 'error', 'alert-info': alertNoCoach.type === 'info', 'alert-warning': alertNoCoach.type === 'warn' }">
              <strong>{{alertNoCoach.title}}</strong><br/>
              <div [innerHTML]="alertNoCoach.content"></div>
          </div>
      </div>
      </div>
      <div class="row" *ngIf="formReady">
    <div class="col-6">
      <mat-card class="form-card h-100">
        <form *ngIf="formReady" [formGroup]="workoutInstanceForm" (ngSubmit)="addWorkoutInstance()" novalidate>
          <div class="form-card-content">
            <div class="row">
              <div class="form-group col-6">
                <label for="example-text-input" class="big">Coach</label>
                <select *ngIf="coaches.length" class="form-control" formControlName="coach">
                    <option value="-1" disabled="" selected="">
                      Sélectionnez un coach
                    </option>
                    <option *ngFor="let coach of coaches" [ngValue]="coach">
                    {{coach.firstname}} - {{coach.lastname}}
                    </option>
            </select>
              </div>
              <div class="form-group col-6">
                <label for="example-text-input" class="big">Nombre de places proposées</label>
                <input type="number" class="form-control" id="nbTicketAvailable" formControlName="nbTicketAvailable" OnlyNumber="true"
                name="nbTicketAvailable" required (blur)="forceIntegerNbTicket()">
                <div *ngIf="formErrors.nbTicketAvailable" class="form-error">
                  {{ formErrors.nbTicketAvailable }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label for="example-text-input">Date</label>
                <div>
                  <ngb-datepicker #dp formControlName="startdate" name="startdate" [minDate]="ngbTomorrow"></ngb-datepicker>
                  <div *ngIf="formErrors.startdate" class="form-error">
                    {{ formErrors.startdate }}
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label for="example-text-input">Heure de début</label>
                <ngb-timepicker [spinners]="false" formControlName="starttime" name="starttime"></ngb-timepicker>
                <div *ngIf="formErrors.starttime" class="form-error">
                  {{ formErrors.starttime }}
                </div>
              </div>
            </div>
          </div>
          <button mat-raised-button class="pull-right mb-3" color="primary">Ajouter <mat-icon class="mat-24">keyboard_arrow_right</mat-icon></button>
        </form>
      </mat-card>
    </div>
    <div class="col-6">
        <div class="clearfix">
      <h2>Nouvelles sessions</h2>
      <table class="w-100 table table-striped table-bordered table-hover table-sm table-valign">
        <tr>
          <th>Date</th>
          <th>Coach</th>
          <th>Place</th>
          <th></th>
        </tr>
        <tr *ngFor="let workoutInstance of newWorkoutInstances">
          <td>{{workoutInstance.startdate | date: 'short'}}</td>
          <td>{{workoutInstance.coach.firstname}} - {{workoutInstance.coach.lastname}}</td>
          <td>{{workoutInstance.nbTicketAvailable}}</td>
          <td><button mat-button color="primary" class="mat-18" (click)="removeWorkoutInstance(workoutInstance)"><mat-icon class="mat-18 valign">remove_circle</mat-icon></button></td>
        </tr>
      </table>
      <button type="button" mat-raised-button class="pull-right mb-3" color="primary" (click)="saveWorkoutInstances()">Valider l'ajout de sessions <mat-icon class="mat-24">keyboard_arrow_right</mat-icon></button>
  </div>
  <div class="clearfix">
      <h2>Sessions à venir</h2>
      <table class="w-100 table table-striped table-bordered table-hover table-sm table-valign">
        <tr>
          <th>Date</th>
          <th>Coach</th>
          <th>Place</th>
          <th></th>
        </tr>
        <tr *ngFor="let workoutInstance of workoutInstances">
          <td>{{workoutInstance.startdate | date: 'short'}}</td>
          <td>{{workoutInstance.coach.firstname}} - {{workoutInstance.coach.lastname}}</td>
          <td>{{workoutInstance.nbTicketAvailable}}</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</div>
