.footer {
  margin-bottom: 4em;
}

.top-border {
  border-top: 1px solid #EAEAEA;
  padding: 0.5em 0;
}

.text-right {
  text-align: right;
}

p {
  margin-bottom: 0;
}

.social_links {
  color: #AAAAAA;
  margin: 7px 0.5em 0;
}

p.greylink a {
  color: #AAAAAA;
}

p.blacklink a {
  color: #363636;
}

p.smallerfont {
  font-size: 0.875em;
}
