<div class="footer debug">
    <div class="container">
        <div class="row top-border">
            <div class="col-6">
              <img src="assets/img/bemoove-logo-grey.png" alt="bemoove">
            </div>
            <div class="col-6">
                <p class="text-right greylink">
                    <a href="https://twitter.com/Bemoove" target="_blank" class="social_links"><fa [name]="'twitter'" [border]=false size=2></fa></a>
                    <a href="https://www.instagram.com/bemoovefr/" target="_blank" class="social_links"><fa [name]="'instagram'" [border]=false size=2></fa></a>
                    <a href="https://www.facebook.com/Bemoove.fr/" target="_blank" class="social_links"><fa [name]="'facebook'" [border]=false size=2></fa></a>
                </p>
            </div>
        </div>
        <div class="row top-border">
            <div class="col-8">
              <p class="smallerfont">&#169; Bemoove 2017</p>
            </div>
            <div class="col-4">
                <p class="text-right blacklink smallerfont">
                <a href="mailto: hello@bemoove.fr">hello@bemoove.fr</a>&nbsp;|&nbsp;
                <a href="http://blog.bemoove.fr/" target="_blank">Blog</a>&nbsp;|&nbsp;
                <a routerLink="/joinus" target="_blank">Devenir coach Bemoove</a>
                <a style="display: none;">Conditions générales</a>
                <a style="display: none;">Mentions légales</a>
            </p>
            </div>
        </div>
    </div>
</div>
