<nav class="navbar">
    <div class="container">
        <ul class="top-menu" id="side-menu">
            <li><a routerLink="/member/mes-seances" routerLinkActive="active"><mat-icon class="mat-18 valign">fitness_center</mat-icon> Mes séances à venir</a></li>
            <li><a routerLink="/member/mon-historique" routerLinkActive="active"><mat-icon class="mat-18 valign">view_list</mat-icon> Mon historique</a></li>
            <li><a routerLink="/member/mon-profil" routerLinkActive="active"><mat-icon class="mat-18 valign">person</mat-icon> Mon profil</a><li>
        </ul>
    </div>
</nav>
