<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Profil (public)</h1>
      <p class="help_text">
        Remplissez içi, votre profil qui sera visible sur les fiches de vos cours.
      </p>
    </div>
  </div>
  <div class="row">
    <form class="row" *ngIf="profile" [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="col-7">
        <md-card class="form-card">
          <md-card-title color="primary" class="form-card__title">Votre profil public</md-card-title>
          <md-card-content>
            <div class="form-group row">
              <label for="firstname" class="col-sm-3 col-form-label">Prénom (ou nom générique, si vous êtes une structure)</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="firstname" name="firstname">
                <div *ngIf="formErrors.firstname" class="form-error">
                  {{ formErrors.firstname }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lastname" class="col-sm-3 col-form-label">Nom</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="lastname" name="lastname">
                <div *ngIf="formErrors.lastname" class="form-error">
                  {{ formErrors.lastname }}
                </div>
              </div>
            </div>
          </md-card-content>
          <md-card-actions align="end">
            <button [disabled]="loading || !profileForm.valid" md-raised-button color="accent"><md-spinner *ngIf="loading" class="loading-spinner" color="accent"></md-spinner> <span *ngIf="!loading">Enregistrer</span></button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="col-5">
        <md-card class="form-card">
          <md-card-title color="primary" class="form-card__title">Photo de profil</md-card-title>
          <md-card-content>
            <div class="form-group row">
              <label for="photo" class="col-sm-3 col-form-label">Photo</label>
              <div class="col-sm-9">
                <img-cropper [image]="cropperData" [settings]="cropperSettings" (onCrop)="setProfileImageData()"></img-cropper>
              </div>
            </div>
          </md-card-content>
          <md-card-actions align="end">
            <button [disabled]="loading || !profileForm.valid" md-raised-button color="accent"><md-spinner *ngIf="loading" class="loading-spinner" color="accent"></md-spinner> <span *ngIf="!loading">Enregistrer</span></button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="col-7">
        <md-card class="form-card">
          <md-card-title color="primary" class="form-card__title">Présentation</md-card-title>
          <md-card-content>
            <div class="form-group row">
              <label for="presentation" class="col-sm-3 col-form-label">Présentation</label>
              <div class="col-sm-9">
                <textarea placeholder="" formControlName="presentation" name="presentation" class="form-control" rows="5"></textarea>
                <div *ngIf="formErrors.presentation" class="form-error">
                  {{ formErrors.presentation }}
                </div>
              </div>
            </div>
          </md-card-content>
          <md-card-actions align="end">
            <button [disabled]="loading || !profileForm.valid" md-raised-button color="accent"><md-spinner *ngIf="loading" class="loading-spinner" color="accent"></md-spinner> <span *ngIf="!loading">Enregistrer</span></button>
          </md-card-actions>
        </md-card>
      </div>
    </form>
  </div>
</div>
