<div class="grey-form-card">
  <div class="grey-form-card-title">
    <h4>Résumé commandes</h4>
  </div>
  <div class="grey-form-card-content">
    <table class="col-sm-12">
      <tr>
        <th></th>
        <th>Désignation Cours </th>
        <th></th>
        <th>Quantité </th>
        <th>Prix Total HT</th>
      </tr>
      <tr>
        <td></td>
        <td>
          {{ cart.workoutInstance.workout.title }}<br/> {{ cart.workoutInstance.startdate | date: 'medium' }}
        </td>
        <td></td>
        <td>
          {{ cart.nbBooking }}
        </td>
        <td>
          {{ cart.workoutInstance.workout.price }}
        </td>
      </tr>
    </table>
  </div>
</div>
