<div class="container">
  <h1 class="h2 alt-font mb-3">Gestion des séances</h1>
  <div class="alert alert-info">
      <strong>Gestion des séances</strong><br/>
      Sur cette page que vous allez pouvoir éditer et gérer les cours de sport que vous proposez.<br/>
      Pour chaque cours créé, vous pouvez ajouter des dates disponibles à la réservation. Celles ci apparaîtront sur votre planning.
    </div>
  <div class="row">
    <div *ngIf="loading" class="col-3 mb-4">
        <div class="square alert alert-warning h-100 w-100 text-center">
            <p>Chargement en cours ...</p>
        </div>
    </div>
    <div *ngFor="let workout of workouts" class="col-3 mb-4">
      <div class="square">
        <div class="w-100 mb-1 relative">
          <img *ngIf="workout.photoSquare !== null" src="{{workout.photoSquare.path}}" class="w-100" />
          <h3 class="h5 over-img-title w-100 text-center f-white">{{workout.title}}</h3>
        </div>
        <div class="text-center">
        <button mat-raised-button color="accent" class="mr-1" routerLink="../{{workout.id}}/edit">MODIFIER</button>
        <button mat-raised-button color="primary" routerLink="../{{workout.id}}/dates/add">Ajouter des dates</button>
    </div>
      </div>
    </div>
    <div class="col-3 mb-4">
      <div class="square h-100 w-100">
        <button mat-raised-button class="h-100 w-100" routerLink="../add">AJOUTER UNE SÉANCE</button>
      </div>
    </div>
  </div>
</div>
