<div class="row mb-3">
    <div class="col-4">
      <h1 class="h2 alt-font mb-3">Profil de {{coach.firstname}} {{coach.lastname}}</h1>
      <button mat-raised-button color="primary" (click)="deleteCoach()"><mat-icon>delete_forever</mat-icon>SUPPRIMER</button>
      <button mat-raised-button color="accent" routerLink="../{{coach.id}}/edit"><mat-icon>edit</mat-icon>MODIFIER</button>
      <button mat-raised-button color="accent" routerLink="../../planning/view/coach/{{coach.id}}"><mat-icon>today</mat-icon>VOIR LE PLANNING</button>
    </div>
</div>
<div class="row">
  <div class="col-6">
    <h1 class="h3 alt-font mb-3">Aperçu du profil public</h1>
    <div class="mb-3 bg-white px-4 pt-2 pb-4">
      <div class="row">
        <div class="col-4">
          <img src="{{coach.photo.path}}" class="col-12 rounded-circle">
        </div>
        <div class="col-8">
          <h3 class="f-blue">{{coach.firstname}} {{coach.lastname}}</h3>
          <p class="f-darkgrey">{{coach.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
