$basic-grey: #808080;

.btn-full-width {
  display: block;
  width: 100%;
  font-weight: bold;
}

.block-center {
  margin: 0 auto;
}

.forgottenpwd {
  font-size: 0.875rem;
  color: $basic-grey;
}

//Toggle PasswordToggleDirective
.password-toggle {
  position: relative;
  display: block;
  user-select: none;
}

.password-toggle a,
a.pwd-toggler-hide,
a.pwd-toggler-show {
  opacity: 0.5;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  height: 1px;
  width: 45px;
  height: 38px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  top: 0;
  right: 0;
  margin-left: -45px;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}

.password-toggle {
  a.pwd-toggler-hide,
  a.pwd-toggler-show {
    height: 52px;
  }
}

.password-toggle [type="text"] + a,
a.pwd-toggler-show {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23444' d='M29.6.4C29 0 28 0 27.4.4L21 6.8c-1.4-.5-3-.8-5-.8C9 6 3 10 0 16c1.3 2.6 3 4.8 5.4 6.5l-5 5c-.5.5-.5 1.5 0 2 .3.4.7.5 1 .5s1 0 1.2-.4l27-27C30 2 30 1 29.6.4zM13 10c1.3 0 2.4 1 2.8 2L12 15.8c-1-.4-2-1.5-2-2.8 0-1.7 1.3-3 3-3zm-9.6 6c1.2-2 2.8-3.5 4.7-4.7l.7-.2c-.4 1-.6 2-.6 3 0 1.8.6 3.4 1.6 4.7l-2 2c-1.6-1.2-3-2.7-4-4.4zM24 13.8c0-.8 0-1.7-.4-2.4l-10 10c.7.3 1.6.4 2.4.4 4.4 0 8-3.6 8-8z'/%3E%3Cpath fill='%23444' d='M26 9l-2.2 2.2c2 1.3 3.6 3 4.8 4.8-1.2 2-2.8 3.5-4.7 4.7-2.7 1.5-5.4 2.3-8 2.3-1.4 0-2.6 0-3.8-.4L10 25c2 .6 4 1 6 1 7 0 13-4 16-10-1.4-2.8-3.5-5.2-6-7z'/%3E%3C/svg%3E");
}

.password-toggle [type="password"] + a,
a.pwd-toggler-hide {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23444' d='M16 6C9 6 3 10 0 16c3 6 9 10 16 10s13-4 16-10c-3-6-9-10-16-10zm8 5.3c1.8 1.2 3.4 2.8 4.6 4.7-1.2 2-2.8 3.5-4.7 4.7-3 1.5-6 2.3-8 2.3s-6-.8-8-2.3C6 19.5 4 18 3 16c1.5-2 3-3.5 5-4.7l.6-.2C8 12 8 13 8 14c0 4.5 3.5 8 8 8s8-3.5 8-8c0-1-.3-2-.6-2.6l.4.3zM16 13c0 1.7-1.3 3-3 3s-3-1.3-3-3 1.3-3 3-3 3 1.3 3 3z'/%3E%3C/svg%3E");
}

.help-toggle {
  position: relative;
  display: block;
  user-select: none;
}

.help-toggle a,
a.partner-help-toggler-hide,
a.partner-help-toggler-show {
  opacity: 0.5;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  height: 1px;
  width: 45px;
  height: 38px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  top: 0;
  right: 0;
  margin-left: -45px;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}

.help-toggle {
  a.partner-help-toggler-hide,
  a.partner-help-toggler-show {
    height: 52px;
  }
}

.help-toggle [type="text"] + a,
a.partner-help-toggler-show {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='none' d='M 0,0 H 32 V 32 H 0 z'/%3E%3Cpath fill='%23444' d='m 14.666667,24 h 2.666666 V 21.333333 H 14.666667 V 24 z M 16,2.6666667 C 8.64,2.6666667 2.6666667,8.64 2.6666667,16 2.6666667,23.36 8.64,29.333333 16,29.333333 23.36,29.333333 29.333333,23.36 29.333333,16 29.333333,8.64 23.36,2.6666667 16,2.6666667 z M 16,26.666667 C 10.12,26.666667 5.3333333,21.88 5.3333333,16 5.3333333,10.12 10.12,5.3333333 16,5.3333333 21.88,5.3333333 26.666667,10.12 26.666667,16 26.666667,21.88 21.88,26.666667 16,26.666667 z M 16,8 c -2.946667,0 -5.333333,2.386667 -5.333333,5.333333 h 2.666666 c 0,-1.466666 1.2,-2.666666 2.666667,-2.666666 1.466667,0 2.666667,1.2 2.666667,2.666666 0,2.666667 -4,2.333334 -4,6.666667 h 2.666666 c 0,-3 4,-3.333333 4,-6.666667 C 21.333333,10.386667 18.946667,8 16,8 z'/%3E%3C/svg%3E");
}

.help-toggle [type="text"] + a,
a.partner-help-toggler-hide {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='none' d='M 0,0 H 32 V 32 H 0 z'/%3E%3Cpath fill='%23000' d='m 14.666667,24 h 2.666666 V 21.333333 H 14.666667 V 24 z M 16,2.6666667 C 8.64,2.6666667 2.6666667,8.64 2.6666667,16 2.6666667,23.36 8.64,29.333333 16,29.333333 23.36,29.333333 29.333333,23.36 29.333333,16 29.333333,8.64 23.36,2.6666667 16,2.6666667 z M 16,26.666667 C 10.12,26.666667 5.3333333,21.88 5.3333333,16 5.3333333,10.12 10.12,5.3333333 16,5.3333333 21.88,5.3333333 26.666667,10.12 26.666667,16 26.666667,21.88 21.88,26.666667 16,26.666667 z M 16,8 c -2.946667,0 -5.333333,2.386667 -5.333333,5.333333 h 2.666666 c 0,-1.466666 1.2,-2.666666 2.666667,-2.666666 1.466667,0 2.666667,1.2 2.666667,2.666666 0,2.666667 -4,2.333334 -4,6.666667 h 2.666666 c 0,-3 4,-3.333333 4,-6.666667 C 21.333333,10.386667 18.946667,8 16,8 z'/%3E%3C/svg%3E");
}

.help-block {
  width: 350px;
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  top: 0;
  z-index: 10;
  box-shadow: 1px 1px 4px #666;
  right: -365px;
  display: flex;
  align-items: center;
  padding: 1rem;

  &:before {
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(255, 255, 255, 0.75);
    height: 0;
    position: absolute;
    top: 1rem;
    left: -10px;
  }
}
