.hollow-modal {
    width: 560px;
  padding: 1.5em 1.5em;
  color: #424242;
  background: #fefefe;
}

h2 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid grey;
  font-size: 1.125rem;
  font-weight: lighter;
  text-transform: uppercase;
}


.noaccount {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
}

.noaccount a {
  color: #e73e60;
}
