<md-card *ngIf="workout">
  <md-card-header class="colored">
      <md-card-title class="title">{{workout.title}}&nbsp;</md-card-title>
      <md-card-subtitle>{{workout.sport.name}}&nbsp;</md-card-subtitle>
    <div class="price">
      {{workout.price}} €
    </div>
  </md-card-header>
  <img *ngIf="workout.photo.path" md-card-image src="{{workout.photo.path}}">
  <md-card-content>
    <div class="row colored timeblock">
      <div class="col-8">
        {{workout.startdate | date: 'EEEE d MMMM'}}
        <p class="small">{{workout.address.city}}</p>
      </div>
      <div class="col-2">
        <p class="small">début</p>
        {{workout.startdate | date: 'HH\:mm'}}
      </div>
      <div class="col-2">
        <p class="small">fin</p>
        {{workout.enddate | date: 'HH\:mm'}}
      </div>
    </div>
    <div class="description">
      <p class="styled">{{workout.description}}</p>
      <p class="styled">{{workout.outfit}}</p>
      <p class="styled">{{workout.notice}}</p>
      <div *ngFor="let tag of workout.tags">
        <p><b>{{tag.name}}</b></p>
      </div>
    </div>
  </md-card-content>
</md-card>
