<div *ngIf="workoutinstance" class="workout-card" [ngStyle]="{'background-image': 'url(' + workoutinstance.workout.photoSquare.path + ')'}">
  <div class="workout-container">
    <div class="workout-sport">
      {{workoutinstance.workout.sport.name}}
    </div>

    <div class="workout-content w-100">
      <h3>{{workoutinstance.startdate | date: 'EEEE d MMMM'}}<br/><span class="time">{{workoutinstance.startdate | date: 'hh:mm'}} &#8674; {{workoutinstance.enddate | date: 'hh:mm'}}</span></h3>
      <p class="subtitle">{{workoutinstance.workout.title}} avec {{ workoutinstance.coach.firstname }} {{ workoutinstance.coach.lastname }}</p>
      <p class="description">{{workoutinstance.workout.description}} [suite]</p>
    </div>

    <div class="footer">
      <div class="workout-address">
        <p class="address">
            <span *ngIf="workoutinstance.workout.address.name">{{workoutinstance.workout.address.name}}<br/></span>
          {{workoutinstance.workout.address.firstline}}<br/>
          <span *ngIf="workoutinstance.workout.address.secondline">{{workoutinstance.workout.address.secondline}}<br/></span>
          {{workoutinstance.workout.address.postalCode}} - {{workoutinstance.workout.address.city}}
        </p>
      </div>
      <div class="workout-bookit" (click)="viewWorkout();">
        <p>
          <span class="price">
          {{workoutinstance.workout.price}} €
      </span>
          <span class="bookit">
              Reserver
        </span>
      </div>
    </div>
  </div>
</div>
