<form *ngIf="coach" [formGroup]="coachForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row mb-3">
    <div class="col-7">
      <mat-card class="form-card h-100">
        <mat-card-title color="primary" class="form-card__title">Informations</mat-card-title>
        <mat-card-content>
          <div class="form-group row">
            <label for="firstname" class="col-sm-3 col-form-label">Prénom</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="firstname" name="firstname">
              <div *ngIf="formErrors.firstname" class="form-error">
                {{ formErrors.firstname }}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-3 col-form-label">Nom</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="lastname" name="lastname">
              <div *ngIf="formErrors.lastname" class="form-error">
                {{ formErrors.lastname }}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label">Présentation</label>
            <div class="col-sm-9">
              <textarea placeholder="" formControlName="description" name="description" class="form-control" rows="5"></textarea>
              <div *ngIf="formErrors.description" class="form-error">
                {{ formErrors.description }}
              </div>
            </div>
          </div>
          <div *ngIf="formResult" class="alert" [ngClass]="{ 'alert': formResult, 'alert-success': formResult.type === 'success', 'alert-danger': formResult.type === 'error', 'alert-info': formResult.type === 'info', 'alert-warning': formResult.type === 'warn' }">
            <strong>{{formResult.title}}</strong><br/> {{formResult.content}}
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button [disabled]="loading || !coachForm.valid" mat-raised-button class="mr-3" color="accent"><mat-spinner *ngIf="loading" diameter="20" class="loading-spinner" color="accent"></mat-spinner> <span *ngIf="!loading">Enregistrer</span></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-5">
      <mat-card class="form-card h-100">
        <mat-card-title color="primary" class="form-card__title">Photo</mat-card-title>
        <mat-card-content>
          <div class="form-group row">
            <label for="photo" class="col-sm-3 col-form-label">Photo</label>
            <div class="col-sm-9" *ngIf="!coach.photo || !coach.photo.path || coachPhotoPathBackup.length > 0">
              <img-cropper [image]="cropperData" [settings]="cropperSettings"></img-cropper>
            </div>
            <div class="col-sm-9" *ngIf="coach.photo.path && coachPhotoPathBackup.length == 0">
              <img src="{{coach.photo.path}}" class="col-12 rounded-circle" />
            </div>
          </div>
          <div *ngIf="formResult" class="alert" [ngClass]="{ 'alert': formResult, 'alert-success': formResult.type === 'success', 'alert-danger': formResult.type === 'error', 'alert-info': formResult.type === 'info', 'alert-warning': formResult.type === 'warn' }">
            <strong>{{formResult.title}}</strong><br/> {{formResult.content}}
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button type="button" *ngIf="coachPhotoPathBackup.length > 0" mat-raised-button color="secondary" (click)="resetPhoto()">Annuler</button>
          <button type="button" *ngIf="coachPhotoPathBackup.length == 0 && coach.photo.path" mat-raised-button color="secondary" (click)="changePhoto()">Changer</button>
          <button [disabled]="loading || !coachForm.valid" mat-raised-button class="mr-3" color="accent"><mat-spinner *ngIf="loading" diameter="20" class="loading-spinner" color="accent"></mat-spinner> <span *ngIf="!loading">Enregistrer</span></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</form>
