<md-spinner *ngIf="loading" class="block-center" color="accent"></md-spinner>
<form [formGroup]="RegisterForm" *ngIf="!loading" (ngSubmit)="onSubmit()" [ngSwitch]="theme">
    <div *ngSwitchCase="'material'">
        <div class="col-12 white">
          <md-input-container class="full-width">
            <input mdInput placeholder="Mail" value="" formControlName="email" required>
          </md-input-container>
        </div>
        <div class="col-12 white password-toggle">
            <md-input-container class="full-width">
                <input [type]="showpassword ? 'text' : 'password'" mdInput placeholder="Mot de passe" value="" formControlName="password" required>
            </md-input-container>
            <a (click)="passwordToggle()" [ngClass]="showpassword ? 'pwd-toggler-show' : 'pwd-toggler-hide'">Voir le mot de passe</a>
        </div>
        <div class="col-12">
        <button type="submit" md-raised-button color="primary" class="btn-full-width">S'inscrire</button>
    </div>
    </div>
    <div *ngSwitchDefault>
        <div class="form-group">
          <label for="email">Adresse mail*</label>
          <input type="text" class="form-control" formControlName="email" required />
          <div *ngIf="formErrors.email" class="alert alert-danger">
              {{ formErrors.email }}
          </div>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe*</label>
          <div class="password-toggle">
            <input [type]="showpassword ? 'text' : 'password'" class="form-control" formControlName="password" required />
            <a (click)="passwordToggle()">Toggle</a>
          </div>
          <div *ngIf="formErrors.password" class="alert alert-danger">
              {{ formErrors.password }}
          </div>
          <div *ngIf="formErrors.password" class="help-block">
              {{ formErrors.password }}
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn-full-width" md-raised-button color="accent">S'inscrire</button>
        </div>
    </div>
  <!-- <div class="form-group">
    <label for="email">Vous êtes</label>
    <select class="form-control" formControlName="societyType">
          <option *ngFor="let societyType of societyTypes" [value]="societyType">{{societyType}}</option>
      </select>
  </div> -->

</form>
