<div class="header-nav" [class.transparent]="transparent" [class.withToolBarAbove]="withToolBarAbove" role="navigation">
    <a class="brand" routerLink="/">
      <img *ngIf="transparent" src="assets/img/bemoove-logo.png" />
      <img *ngIf="!transparent" src="assets/img/bemoove-logo-grey.png" />
    </a>
    <!-- <div class="quicksearch" *ngIf="!transparent">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Emplacement future recherche rapide" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><mat-icon class="mat-16">search</mat-icon></button>
          </span>
    </div>
    </div> -->
    <span class="filler"></span>
    <div class="navbar-container" [ngSwitch]="headerType">
      <div class="navbar-links" *ngSwitchCase="'ROLE_PARTNER'">
          <login-button *ngIf="!logged" [transparent]="transparent"></login-button>
        <button *ngIf="logged" type="button" mat-button class="button-primary" [class.transparent]="transparent" routerLink="/partner">Mon compte</button>
        <button *ngIf="logged" type="button" mat-button class="button-primary" [class.transparent]="transparent" (click)="logout()"><mat-icon class="mat-18">power_settings_new</mat-icon> Déconnexion</button>
      </div>
      <div class="navbar-links" *ngSwitchCase="'ROLE_USER'">
          <login-button *ngIf="!logged" [transparent]="transparent"></login-button>
        <button *ngIf="logged" type="button" mat-button class="button-primary" [class.transparent]="transparent" routerLink="/member/mon-profil">Mon profil</button>
        <button *ngIf="logged" type="button" mat-button class="button-primary" [class.transparent]="transparent" (click)="logout()"><mat-icon class="mat-18">power_settings_new</mat-icon> Déconnexion</button>
      </div>
      <div class="navbar-links" *ngSwitchDefault>
        <register-button *ngIf="!logged" [transparent]="transparent"></register-button>
        <login-button *ngIf="!logged" [transparent]="transparent"></login-button>
        <button *ngIf="logged" type="button" mat-button class="button-primary" [class.transparent]="transparent" (click)="logout()"><mat-icon class="mat-18">power_settings_new</mat-icon> Déconnexion</button>
      </div>
    </div>
</div>
