<div class="mt-2 mb-3 container" *ngIf="alertNoCoach || alertInfo">
<div *ngIf="alertInfo" class="alert" [ngClass]="{ 'alert': alertInfo, 'alert-success': alertInfo.type === 'success', 'alert-danger': alertInfo.type === 'error', 'alert-info': alertInfo.type === 'info', 'alert-warning': alertInfo.type === 'warn' }">
  <strong>{{alertInfo.title}}</strong><br/>
  <div [innerHTML]="alertInfo.content"></div>
</div>
<div *ngIf="alertNoCoach" class="alert" [ngClass]="{ 'alert': alertNoCoach, 'alert-success': alertNoCoach.type === 'success', 'alert-danger': alertNoCoach.type === 'error', 'alert-info': alertNoCoach.type === 'info', 'alert-warning': alertNoCoach.type === 'warn' }">
    <strong>{{alertNoCoach.title}}</strong><br/>
    <div [innerHTML]="alertNoCoach.content"></div>
</div>
</div>
<div class="mb-3">
  <div class="container">
    <div class="row button-row">
      <div>
        <button type="button" mat-raised-button color="accent" (click)="backwardSelectedDay()"><mat-icon class="mat-24">keyboard_arrow_left</mat-icon></button>
        <button type="button" mat-raised-button color="accent" (click)="forwardSelectedDay()"><mat-icon class="mat-24">keyboard_arrow_right</mat-icon></button>
        <div class="coachselect" *ngIf="selectedCoach">
          <mat-select [(ngModel)]="selectedCoach" (change)="onCoachChange()">
            <mat-option *ngFor="let coach of coaches" [value]="coach">{{ coach.firstname }} {{ coach.lastname | myTruncate : '0' : '1' : '.' }}</mat-option>
          </mat-select>
      </div>
      </div>
      <span class="title-filler"><h4>{{firstDisplayedDay|date:'dd'}} - {{lastDisplayedDay|date:'dd MMMM y'}}</h4></span>
      <div>
        <button type="button" mat-raised-button color="accent" (click)="changeDisplayStyle('3days')">3 Jours</button>
        <button type="button" mat-raised-button color="accent" (click)="changeDisplayStyle('week')">Semaine</button>
      </div>
    </div>
    <div class="row">
      <div class="timeline">
        <h4 class="title">&nbsp;</h4>
        <div class="hour" *ngFor="let hour of hours">
          {{hour}}h
        </div>
      </div>
      <div class="day-container">
        <div class="day" *ngFor="let day of displayedDays" [class.col-4]="displayStyle === '3days'" [class.col-1-7]="displayStyle === 'week'" [class.inactive]="(tomorrow > day.date)">
          <div *ngFor="let workout of day.workouts" class="workout-wrapper" [ngStyle]="{'top': workout.styleTop, 'height': workout.styleHeight }">
            <div class="workout" (click)="showModalWorkoutInformationComponent(workout.id)">
              <p class="h5 mb-0 text-center">{{workout.workout.title}}</p>
            </div>
          </div>
          <h4 class="title">{{day.date|date:'EEE dd'}}</h4>
          <div *ngIf="(tomorrow > day.date)">
            <div class="hour" *ngFor="let hour of hours">
              <div class="quarter" *ngFor="let quarter of quarters">
                &nbsp;
              </div>
            </div>
          </div>
          <div *ngIf="(tomorrow <= day.date)">
            <div class="hour" *ngFor="let hour of hours">
              <div class="quarter selector" *ngFor="let quarter of quarters" (click)="addworkout(day.date,hour, quarter)">
                Ajouter un cours
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
