<div class="container">
  <h1 class="h2 alt-font mb-3">Liste des coachs</h1>
  <button mat-button color="primary" routerLink="../add">AJOUTER UN COACH</button>
  <div class="row">
      <div *ngFor="let coach of coaches" class="col-2 mb-4">
          <div class="square w-100 h-100 hover-toggle">
            <div class="hover-hide w-100">
              <img src="{{coach.photo.path}}" class="w-100 rounded-circle"/>
            </div>
              <button mat-fab class="h-100 w-100 hover-show" routerLink="../{{coach.id}}/edit">MODIFIER</button>
          </div>
          <button mat-raised-button routerLink="../../planning/view/coach/{{coach.id}}">Planning</button>
      </div>
  </div>
</div>
