<main [ngClass]="{'withHeaderOver':withHeaderOver}">
    <div class="jumbotron jumbotron-fluid">
  <div class="col-12 col-sm-10 offset-sm-1 col-mat-8 offset-mat-2">
    <h1>Bye-bye les places vacantes.</h1>
    <h2>Rentabilisez vos cours collectifs</h2>
    <button type="button" mat-raised-button color="primary" class="cta_subsribe"  href="#subscribeForm">Je propose mes cours sur Bemoove</button>
  </div>
</div>

<div class="view avantages">
  <div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Concentrez vous sur vos séances, on s’occupe du reste</h2>
    </div>
  </div>
  <div class="container">
    <div class="row padded">
      <div class="col-4 avantages__item">
        <div class="col-12 text-center">
          <mat-icon class="mat-64 round">group</mat-icon>
        </div>
        <div class="col-12">
          <h3><span class="title_num">1.</span> Développez votre clientèle</h3>
          <h4>Vos clients vous attendent</h4>
          <p>Touchez une clientèle plus large. Avec des séances accessible à la réservation 24h/24, vos cours se remplissent sans effort.</p>
        </div>
      </div>
      <div class="col-4 avantages__item">
        <div class="col-12 text-center">
          <mat-icon class="mat-64 round">notifications_paused</mat-icon>
        </div>
        <div class="col-12">
          <h3><span class="title_num">2.</span> Libérez votre temps</h3>
          <h4>Ne soyez plus esclave de la paperasse.</h4>
          <p>Fini les interruptions en cours de séance pour gérér des reservations. Plus besoin d'éditer des factures. Nous traitons ces aspects pour vous. Avec plus de temps libre, vous pourrez delivrez plus à vos client.</p>
        </div>
      </div>
      <div class="col-4 avantages__item">
        <div class="col-12 text-center">
          <mat-icon class="mat-64 round">whatshot</mat-icon>
        </div>
        <div class="col-12">
          <h3><span class="title_num">3.</span> Améliorez votre rentabilité</h3>
          <h4>Révelez le potentiel de votre activité.</h4>
          <p>Vous avez les compétences et l’envie de partager votre passion du sport au plus grand nombre. Notre service vous permets de dépassez vos objectifs.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="system">
  <div class="container padded">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Un outil marketing complet qui s’adapte à vos besoins</h2>
      </div>
    </div>
    <div class="row marged">
      <div class="col-4 text-center ">
        <div class="systemcard">
          <mat-icon class="mat-48">cloud_upload</mat-icon>
          <h3>Publiez vos annonces en seulement 2 minutes</h3>
        </div>
      </div>
      <div class="col-4 text-center ">
        <div class="systemcard">
          <mat-icon class="mat-48">alarm</mat-icon>
          <h3>Permettez à vos clients de reserver 24h/24h 7j/7</h3>
        </div>
      </div>
      <div class="col-4 text-center ">
        <div class="systemcard">
          <mat-icon class="mat-48">credit_card</mat-icon>
          <h3>Proposez le paiement en ligne</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center ">
        <div class="systemcard">
          <mat-icon class="mat-48">phone_iphone</mat-icon>
          <h3>Gérer les reservations en mode nomade</h3>
        </div>
      </div>
      <div class="col-4 text-center ">
        <div class="systemcard">
          <mat-icon class="mat-48">room_service</mat-icon>
          <h3>Ayez recours à nos services selon vos besoins</h3>
        </div>
      </div>
      <div class="col-4 text-center ">
        <div class="systemcard">
          <mat-icon class="mat-48">add_alert</mat-icon>
          <h3>Diminuez les annulations grâce aux confirmations et rappels automatique</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="view form-section">
  <div class="row">
    <div class="col-10 offset-1 text-center" id="subscribeForm">
      <h2>Augmentez votre <span class="yellow">pouvoir d’attraction</span><br/> dès aujourd’hui</h2>
    </div>
    <div class="col-4 offset-4">
        <h3 class="text-center">Inscrivez-vous</h3>
        <register-form-reactive [theme]="'material'" [registerAccountType]="'Partner'"></register-form-reactive>
    </div>
  </div>
</div>

<div class="view container faq">
  <div class="row">
    <div class="col-12">
      <h2>En savoir plus</h2>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel title="De quoi ai-je besoin pour présenter mes séances sur Bemoove ?">
          <ng-template ngbPanelContent>
                <mat-list>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> Être diplômé du sport </mat-list-item>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> Posséder un numéro de SIRET</mat-list-item>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> Souscrire une assurance responsabilité civile professionnelle</mat-list-item>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> Être en possession d’une carte professionnelle</mat-list-item>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> Adhérer et signer notre « Charte éthique et comportement BeCoach »</mat-list-item>
                </mat-list>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
              <span>Quels sont les diplômes nécessaire pour être coach sportif ?</span>
            </ng-template>
          <ng-template ngbPanelContent>
                <mat-list>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> BEES : Brevet d’état d’éducateur sportif</mat-list-item>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> BPJEPS : Brevet professionnel de la jeunesse, de l’éducation populaire et du sport.</mat-list-item>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> DEJSPS : Diplôme d’état de la jeunesse, de l’éducation populaire et du sport</mat-list-item>
                 <mat-list-item><mat-icon mat-list-avatar class="mat-24">star_rate</mat-icon> ENSEIGNEMENT SUP : Deust, Licence professionnelle activités sportives, diplômes délivrés par le ministère chargé de l’enseignement supérieur.</mat-list-item>
                </mat-list>
            </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
</main>
