<h1 style="color: red;">Mandat de facturation</h1>

<p>Le présent mandat de facturation est conclu entre :</p>

<p>La société Bemoove, société à responsabilité limitée  au capital de 2 000 €, immatriculée au RCS de Nantes sous le n° 827 819 020, dont le siège social est situé 18 rue Scribe 44000 Nantes (ci-après : la « Société »).<br/>
Et<br/>
  Les partenaires du Site https://www.bemoove.fr</p>

<h2>Préambule</h2>

<p>Afin de simplifier et d’uniformiser la facturation des Missions réalisées via la Plateforme, la facturation des prestations de services sera établi par la Société Bemoove au nom et pour le compte des Partenaires.</p>

<p>Conséquemment, et aux termes du présent Mandat, le Partenaire délègue à la Société l’établissement, l’émission et l’envoi de toutes ses factures de prestation de services via la Plateforme aux Clients concernés. </p>

<h2>1 – Objet du Mandat</h2>

<p>Le présent Mandat a pour objet de confier au Mandataire - qui accepte sans aucune réserve - la mission d’établir, d’émettre et d’envoyer toutes les factures, qu’elles soient des originales ou des copies, initiales et/ou rectificatives, relative aux prestations réalisées par le Partenaire à l’occasion des prestations de services réservés via la Plateforme aux Clients concernés. </p>

<p>Le présent Mandat est établi conformément à la réglementation en vigueur et en particulier aux dispositions de l’article 1984 du code civil et des articles 242 nonies A-I et 289 I-2 du code général des impôts.</p>

<h2>2 – Durée du Mandat</h2>

<p>Le présent Mandat, conclu pour une durée indéterminée, prend effet à la date de l’acceptation par le Partenaire. </p>
<p>Pendant toute la durée du Mandat, le Mandant s'interdit de s'adresser à un autre mandataire pour l'accomplissement de la même opération s’agissant des prestations réalisées via le Site. </p>

<p>Le Mandant pourra révoquer à tout moment le Mandat, sans motif particulier, par lettre recommandée avec demande d’avis de réception adressée au Mandataire. Lorsque le Mandant révoque le Mandat, il révoque une condition d’utilisation du Site. il entraînera donc la clôture du compte du Partenaire.</p>

<p>La clôture un compte d’un Partenaire entraîne la révocation du présent Mandat.</p>

<h2>3 - Obligations du Mandataire</h2>

<p>Le mandataire s’engage à établir les factures, émises et envoyées au nom et pour le compte du Mandant, avec les informations entrées sur le compte du Partenaire, après la validation de la réservation par le Client.</p>

<p>Les Factures seront émises dès que la séance sera passée et seront adressées à ce dernier par voie électronique.</p>

<p>Le Mandataire met également à disposition simultanément au Mandant une copie de toutes les Factures qu’il émet en son nom et pour son compte. Elles sont disponible sur son tableau de bord.</p>

<p>Le Mandataire s’engage à ce que l’intégralité des factures établie au nom et pour le compte du Mandant comprend nécessairement la mention « Facture établie par Bemoove au nom et pour le compte de [nom/dénomination du Partenaire] ».</p>

<p>Si une modification d’une facture est nécessaire, le Mandataire établit et envoie une facture rectificative dans les meilleurs délais.</p>

<h2>4 - Obligations du Mandant</h2>

<p>Le Mandant s’engage à transmettre au Mandataire la liste complète des informations qui lui sont demandées. En cas de modification de ces informations, il en informe la Société dans les meilleurs délais ; lui seul pourra être tenu responsable des conséquences induites par l’utilisation de mauvaises informations.</p>

<p>Le Mandant reconnaît conserver l’entière responsabilité de ses obligations légales et fiscales en matière de facturation au titre des Factures originales initiales et/ou rectificatives émises en son nom et pour son compte par le Mandataire, notamment en ce qui concerne ses obligations de déclaration et de paiement en matière de TVA. </p>

<p>Le Mandant demeure redevable de la TVA due, le cas échéant en application de l’article 283 paragraphe 3 du code général des impôts, lorsque celle-ci est facturée à tort. Si le Mandant n’a pas versé au Trésor Public la taxe mentionnée sur les Factures établies en son nom et pour son compte, c’est à lui d’en assurer l’entière responsabilité.</p>

<p>Le Mandant dispose d’un délai de trois (3) jours pour souligner une erreur dans les informations contenues dans la Facture émise en son nom et pour son compte et en demander la rectification au Mandataire. A défaut de contestation dans ce délai, la Facture est considérée comme acceptée.</p>

<p>Le Mandant s’oblige à demander immédiatement le double des Factures qui n’ont pas été mises à sa disposition par le Mandataire dans les conditions précisées par le Mandat ou les Conditions Générales.</p>

<p>En conséquence, le Mandant s’engage à :</p>

<p>Ne pas tenir pour responsable la Société d’un manquement à ses obligations légales ou fiscales.</p>
<p>S’assurer qu’il est en conformité avec les obligations de la loi en vigueur en la matière, notamment en matière d’imposition directe ;</p>
<p>Vérifier quelles sont les règles qui s’appliquent dans son cas et d’en informer le Mandataire afin de mettre le système en conformité le cas échéant.</p>

<h2>5 - Paiement</h2>

<p>Le paiement est incluse dans les services proposés et s'inscrit dans la commission payable par le Partenaire à la Société. </p>

6 - Modifications

<p>Tout avenant au présent Mandat doit être conclu dans les mêmes conditions et par les mêmes parties.</p>

<h2>7 - Droit applicable et juridiction compétente</h2>

<p>Le présent Mandat est soumis au droit français. Tout litige relatif à sa formation, conclusion, interprétation ou exécution relève de la compétence exclusive des juridictions dans le ressort de la Cour d’appel de Paris.</p>

<p>Signé électroniquement le : </p>
