.navbar {
  padding: 0;
  border-radius: 0;
  box-shadow: 0px 0px 5px #a6a6a6;
  z-index:10;
}

.top-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    box-sizing: border-box;
    display: inline-block;
    & a {
        display: inline-block;
        line-height: 2.25em;
        font-size: 0.875rem;
        padding: 0.5em 1em 0;
        margin: 0 0.125em;
        border-bottom: 6px solid transparent;
        color: #363636;
        &:visited, &:link {
            color: #363636;
        }
        &:hover, &.active {
            border-bottom: 6px solid #2ac2d1;
            color: #2ac2d1;
            text-decoration: none;
        }
    }
    .valign {
        vertical-align: middle;
    }
  }
}


.top-menu li a, .top-menu li a:visited, .top-menu li a:link

.top-menu li a:hover {
}
