.navbar {
  padding: 1em 0 0;
  border-radius: 0;
}

.side-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    box-sizing: border-box;

    & a {
      display: block;
      line-height: 2.25em;
      font-size: 0.875rem;
      padding: 0.5em 1em;
      margin: 0 0.125em;
      color: #363636;
      border-bottom: 1px dotted #b5b5b5;

      &:link,
      &:visited {
        color: #363636;
      }

      &.active,
      &:hover {
        color: #e73e60;
        font-weight: 700;
        text-decoration: none;
      }
    }

    .valign {
      vertical-align: middle;
    }
  }

  &:hover li {
    & a:not(:hover).active {
      color: #363636;
    }
  }
}

.top-menu li a,
.top-menu li a:link .top-menu li a:hover,
.top-menu li a:visited {}
