<div class="hollow-modal">
  <h2>S'inscrire</h2>
  <md-spinner *ngIf="loading" class="block-center" color="accent"></md-spinner>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate *ngIf="!loading">
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">Adresse mail</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
      <div *ngIf="f.submitted && !email.valid" class="help-block">Une adresse mail valide est nécessaire.</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Mot de passe</label>
      <div class="password-toggle">
        <input [type]="showpassword ? 'text' : 'password'" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <a (click)="passwordToggle()">Toggle</a>
      </div>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Un mot de passe d'au moins 8 caractères est nécessaire.</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn-full-width" md-raised-button color="accent">S'inscrire</button>
      <p class="noaccount">Vous avez déjà un compte ? <a (click)="showLoginModal()">Se connecter</a></p>
    </div>
  </form>
</div>
