@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// D9096D
// ffd13b
// 14B4CC
// 36e96c


$md-main-pink: (
    50: #f969ae,
    100: #f850a1,
    200: #f73894,
    300: #f61f86,
    400: #f10a79,
    500: #D9096D,
    600: #c00861,
    700: #a80754,
    800: #900648,
    900: #77053c,
    A100: #fa81bb,
    A200: #fb9ac8,
    A400: #fcb2d6,
    A700: #5f042f,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$md-main-yellow: (
    50: #59500c,
    100: #6f650f,
    200: #857913,
    300: #9c8d16,
    400: #b2a119,
    500: #c9b61c,
    600: #e3d035,
    700: #e6d54b,
    800: #e9da61,
    900: #ecdf78,
    A100: #e3d035,
    A200: #DFCA1F,
    A400: #c9b61c,
    A700: #efe58e,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);
// 394595

// 14B4CC
// 3dcad8

$md-main-blue: (
    50: #a7e7ed,
    100: #92e1e9,
    200: #7ddbe5,
    300: #67d6e1,
    400: #52d0dc,
    500: #3dcad8,
    600: #2ac2d1,
    700: #26afbc,
    800: #229ba7,
    900: #1d8792,
    A100: #bcedf2,
    A200: #d2f3f6,
    A400: #e7f8fa,
    A700: #19737c,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);


$app-primary: mat-palette($md-main-pink);
$app-accent:  mat-palette($md-main-blue);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($md-main-yellow);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
