<nav class="row navbar">
    <div class="container">
        <ul class="top-menu" id="side-menu">
            <li><a routerLink="/coach/profile" class="routeok"><i class="fa fa-dashboard fa-fw"></i> Mon profil</a><li>
            <li><a routerLink="/coach/my-workout" class="routeok"><i class="fa fa-dashboard fa-fw"></i> Mes annonces</a></li>
            <li><a routerLink="/coach/my-booking" class="routeok"><i class="fa fa-dashboard fa-fw"></i> Mes reservations</a></li>
            <li><a routerLink="/coach/my-address" class="routeok"><i class="fa fa-dashboard fa-fw"></i> Mes adresses</a></li>
        </ul>
    </div>
</nav>
