<h1>Se (re)mettre au sport n'a jamais été aussi simple !<br/>
Réservez des places pour des séances de sport près de chez vous. Sans engagement ni abonnement.</h1>
<button>Continuer avec Facebook</button>
<button>Continuer avec Google</button>
<button>S'inscrire par mail.</button>
<h6>En vous inscrivant vous accepter et approuver les termes d'utilisation de Bemoove.</h6>
<h2>Se connecter :</h2>
<label>Adresse mail</label>
<input type="text" />
<label>Mot de passe</label>
<input type="text" />
<button>Se connecter</button>
<a href="#">Mot de passe oublié ?</a>
<div>
    <h1>Popup content</h1>
    Popup ou remplacement cadre de gauche
    <h2>S'inscrire :</h2>
    <label>Adresse mail</label>
    <input type="text" />
    <label>Mot de passe</label>
    <input type="text" />
    <button>Se connecter</button>
    <span>Repeter mot de passe ????</span>
    <button>CAPTCHA</button>
</div>
