<div class="container-fluid planning">
  <div class="row">
    <div class="col-8 innerscroll">
      <div *ngIf="tommorowWorkouts.length > 0" class="row">
        <h4 class="col-12">Demain</h4>
        <div *ngFor="let workoutinstance of tommorowWorkouts" class="col-xs-12 col-sm-6 col-mat-4 col-lg-3 ">
          <workout-block [workoutinstance]="workoutinstance"></workout-block>
        </div>
      </div>
      <div *ngIf="thisWeekWorkouts.length > 0" class="row">
        <h4 class="col-12">Cette semaine</h4>
        <div *ngFor="let workoutinstance of thisWeekWorkouts" class="col-xs-12 col-sm-6 col-mat-4 col-lg-3 ">
          <workout-block [workoutinstance]="workoutinstance"></workout-block>
        </div>
      </div>
      <div *ngIf="nextWeekWorkouts.length > 0" class="row">
        <h4 class="col-12">La semaine prochaine</h4>
        <div *ngFor="let workoutinstance of nextWeekWorkouts" class="col-xs-12 col-sm-6 col-mat-4 col-lg-3 ">
          <workout-block [workoutinstance]="workoutinstance"></workout-block>
        </div>
      </div>
      <div *ngIf="afterWorkouts.length > 0" class="row">
        <h4 class="col-12">Et plus encore</h4>
        <div *ngFor="let workoutinstance of afterWorkouts" class="col-xs-12 col-sm-6 col-mat-4 col-lg-3 ">
          <workout-block [workoutinstance]="workoutinstance"></workout-block>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="assets/img/map-placeholder.jpg" />
      </div>
    </div>
  </div>
</div>
