<div class="container-fluid planning">
  <div class="row innerscroll justify-content-center">
    <div class="col-10">
      <div class="row">
        <div class="col-6" *ngIf="tommorowWorkouts.length > 0">
          <div class="row py-3">
            <h4 class="col-12">Demain</h4>
            <div class="col-12">
              <div class="row">
                <div *ngFor="let workoutinstance of tommorowWorkouts" class="col-xs-12 col-sm-6 col-mat-4 col-lg-4 ">
                  <workout-block [workoutinstance]="workoutinstance"></workout-block>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="thisWeekWorkouts.length > 0">
          <div class="row py-3">
            <h4 class="col-12">Cette semaine</h4>
            <div class="col-12">
              <div class="row">
                <div *ngFor="let workoutinstance of thisWeekWorkouts" class="col-xs-12 col-sm-6 col-mat-4 col-lg-4 ">
                  <workout-block [workoutinstance]="workoutinstance"></workout-block>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6" *ngIf="nextWeekWorkouts.length > 0">
          <div class="row py-3">
            <h4 class="col-12">La semaine prochaine</h4>
            <div class="col-12">
              <div class="row">
                <div *ngFor="let workoutinstance of nextWeekWorkouts" class="col-xs-12 col-sm-6 col-mat-4 col-lg-4 ">
                  <workout-block [workoutinstance]="workoutinstance"></workout-block>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="afterWorkouts.length > 0">
          <div class="row py-3">
            <h4 class="col-12">Et plus encore</h4>
            <div class="col-12">
              <div class="row">
                <div *ngFor="let workoutinstance of afterWorkouts" class="col-xs-12 col-sm-6 col-mat-4 col-lg-4 ">
                  <workout-block [workoutinstance]="workoutinstance"></workout-block>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
