<div class="row">
  <div class="col-4">
    <h1 class="h2 alt-font mb-3">TVA &amp; mentions légales</h1>
    <p class="help_text">
      Pour pouvoir générér des factures valides en votre nom, Bemoove a besoin des informations légales suivantes.<br/>Assurez vous qu'elles soient toujours à jour.
    </p>
  </div>
</div>
<div class="row" *ngIf="organization">
  <mat-card class="form-card col-5">
    <tva-rate-form [organization]="organization"></tva-rate-form>
  </mat-card>
</div>
<div class="row" *ngIf="organization">
  <mat-card class="form-card col-5">
    <invoice-notice-form [organization]="organization"></invoice-notice-form>
  </mat-card>
</div>
