<div class="row">
  <div class="col-4">
    <h1>TVA &amp; mentions légales</h1>
    <p class="help_text">
      Pour pouvoir générér des factures valides en votre nom, Bemoove a besoin des informations légales suivantes.<br/>Assurez vous qu'elles soient toujours à jour.
    </p>
  </div>
</div>
<div class="row">
  <md-card class="form-card col-5">
    <form *ngIf="organization" [formGroup]="tvaRateForm" (ngSubmit)="onSubmitTvaRate()" novalidate>
      <md-card-title color="primary" class="form-card__title">TVA</md-card-title>
      <md-card-content>
        <div class="form-group row">
          <label for="organizationVatRate" class="col-sm-3 col-form-label">Taux de TVA</label>
          <div class="col-sm-9">
            <div class="input-group input-float">
              <input type="number" class="form-control" formControlName="organizationVatRate" name="organizationVatRate">
              <div class="input-group-addon">%</div>
            </div>
            <div *ngIf="formErrors.organizationVatRate" class="form-error">
              {{ formErrors.organizationVatRate }}
            </div>
            <div class="form-info">
              Taux de TVA (Ex: 20%). Inscrivez 0 si vous en êtes exempté.
            </div>
          </div>
        </div>
      </md-card-content>
      <md-card-actions align="end">
        <button [disabled]="loading || !tvaRateForm.valid" md-raised-button color="accent"><md-spinner *ngIf="loading" class="loading-spinner" color="accent"></md-spinner> <span *ngIf="!loading">Enregistrer</span></button>
      </md-card-actions>
    </form>
  </md-card>
</div>
<div class="row">
  <md-card class="form-card col-5">
    <form *ngIf="organization" [formGroup]="invoiceNoticeForm" (ngSubmit)="onSubmit()" novalidate>
      <md-card-title color="primary" class="form-card__title">Mentions légales</md-card-title>
      <md-card-content>
        <div class="form-group row">
          <label for="companyType" class="col-sm-12 form-label">Forme juridique</label>
          <div class="col-sm-12">
            <select class="form-control" id="companyType" name="companyType" title="" formControlName="organizationLegalStatus" name="organizationLegalStatus">
                  <option value="-1" disabled="" selected="">
                    Sélectionner un type d'entreprise
                  </option>
                  <option value="NonProfit">Association loi 1901</option>
                  <option value="AE" selected="selected">Auto-entreprise</option>
                  <option value="EI">EI (entreprise individuelle)</option>
                  <option value="EIRLnoTVA">EIRL non soumise à la TVA</option>
                  <option value="EIRL">EIRL soumise à TVA</option>
                  <option value="Micro">Micro-entreprise et franchise en base de TVA</option>
                  <option value="SARLvariable">SARL à capital variable</option>
                  <option value="SARLEURL">SARL/EURL</option>
                  <option value="SAS">SAS/SASU</option>
                  <option value="SA">Société anonyme</option>
                </select>
            <div *ngIf="formErrors.organizationLegalStatus" class="form-error">
              {{ formErrors.organizationLegalStatus }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-info">
            Ces mentions seront affichées en bas de vos factures
          </div>
        </div>
        <div class="form-group row" [ngSwitch]="organizationLegalStatus">
          <div class="col-sm-12" *ngSwitchCase="'NonProfit'">
            <div class="legalstatus">
              <h1>Association loi 1901</h1>
              <p>
                Association Loi 1901 enregistrée sous le N° (numéro de l'association) à la préfecture de (préfecture) - N° Siret <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret"> (si
                applicable).<br/>
                TVA non applicable, article 293B du CGI
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'AE'">
            <div class="legalstatus">
              <h1>Auto-entreprise</h1>
              <p>
                SIRET : <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret"><br/>
                Dispensé d’immatriculation au registre du commerce et des sociétés (RCS) en application de l'article L.123-1-1 du Code du Commerce.<br/>
                TVA non applicable, art. 293 B du CGI
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'EI'">
            <div class="legalstatus">
              <h1>EI (entreprise individuelle)</h1>
              <p>
                SIRET: <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret"><br/>
                APE : <input type="text" class="form-control-inline-seamless small" formControlName="organizationAPENumber" name="organizationAPENumber"><br/>
                TVA Intracommunautaire : <input type="text" class="form-control-inline-seamless large" formControlName="organizationVATNumber" name="organizationVATNumber">
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'EIRLnoTVA'">
            <div class="legalstatus">
              <h1>EIRL non soumise à la TVA</h1>
              <p>
                SIRET: <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret">
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'EIRL'">
            <div class="legalstatus">
              <h1>EIRL soumise à TVA</h1>
              <p>
                SIRET: <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret"><br/>
                APE : <input type="text" class="form-control-inline-seamless small" formControlName="organizationAPENumber" name="organizationAPENumber"><br/>
                TVA Intracommunautaire : <input type="text" class="form-control-inline-seamless large" formControlName="organizationVATNumber" name="organizationVATNumber">
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'Micro'">
            <div class="legalstatus">
              <h1>Micro-entreprise et franchise en base de TVA</h1>
              <p>
                SIRET : <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret">
                <br/>Dispensé d’immatriculation au registre du commerce et des sociétés (RCS) en application de l'article L.123-1-1 du Code du Commerce
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'SARLvariable'">
            <div class="legalstatus">
              <h1>SARL à capital variable</h1>
              <p>
                S.A.R.L au capital variable<br/>
                SIRET <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret"> RCS de
                <input type="text" class="form-control-inline-seamless medium" formControlName="organizationRCSNumber" name="organizationRCSNumber"> - NAF
                <input type="text" class="form-control-inline-seamless small" formControlName="organizationAPENumber" name="organizationAPENumber"><br/>
                TVA Intracommunautaire :  <input type="text" class="form-control-inline-seamless large" formControlName="organizationVATNumber" name="organizationVATNumber">
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'SARLEURL'">
            <div class="legalstatus">
              <h1>SARL/EURL</h1>
              <p>
                S.A.R.L au capital de <input type="text" class="form-control-inline-seamless small" formControlName="organizationShareCapital" name="organizationShareCapital"> €<br/>
                SIRET <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret"> RCS de <input type="text" class="form-control-inline-seamless medium" formControlName="organizationRCSNumber" name="organizationRCSNumber"> - NAF
                <input type="text" class="form-control-inline-seamless small" formControlName="organizationAPENumber" name="organizationAPENumber"><br/>
                TVA Intracommunautaire : <input type="text" class="form-control-inline-seamless large" formControlName="organizationVATNumber" name="organizationVATNumber">
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'SAS'">
            <div class="legalstatus">
              <h1>SAS/SASU</h1>
              <p>
                SAS au capital de <input type="text" class="form-control-inline-seamless small" formControlName="organizationShareCapital" name="organizationShareCapital"> €<br/>
                SIRET <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret"> RCS de <input type="text" class="form-control-inline-seamless medium" formControlName="organizationRCSNumber" name="organizationRCSNumber"> - NAF
                <input type="text" class="form-control-inline-seamless small" formControlName="organizationAPENumber" name="organizationAPENumber"><br/>
                TVA Intracommunautaire : <input type="text" class="form-control-inline-seamless large" formControlName="organizationVATNumber" name="organizationVATNumber">
              </p>
            </div>
          </div>
          <div class="col-sm-12" *ngSwitchCase="'SA'">
            <div class="legalstatus">
              <h1>Société anonyme</h1>
              <p>
                S.A au capital variable
                <br/>SIRET <input type="text" class="form-control-inline-seamless" formControlName="organizationSiret" name="organizationSiret"> RCS de
                <input type="text" class="form-control-inline-seamless medium" formControlName="organizationRCSNumber" name="organizationRCSNumber"> - NAF
                <input type="text" class="form-control-inline-seamless small" formControlName="organizationAPENumber" name="organizationAPENumber"><br/>
                TVA Intracommunautaire : <input type="text" class="form-control-inline-seamless large" formControlName="organizationVATNumber" name="organizationVATNumber">
              </p>
            </div>
          </div>
          <div *ngIf="formErrors.organizationLegalStatus" class="col-sm-12 form-error">
            {{ formErrors.organizationLegalStatus }}
          </div>
          <div *ngIf="formErrors.organizationSiret" class="col-sm-12 form-error">
            {{ formErrors.organizationSiret }}
          </div>
          <div *ngIf="formErrors.organizationShareCapital" class="col-sm-12 form-error">
            {{ formErrors.organizationShareCapital }}
          </div>
          <div *ngIf="formErrors.organizationRCSNumber" class="col-sm-12 form-error">
            {{ formErrors.organizationRCSNumber }}
          </div>
          <div *ngIf="formErrors.organizationAPENumber" class="col-sm-12 form-error">
            {{ formErrors.organizationAPENumber }}
          </div>
          <div *ngIf="formErrors.organizationVATNumber" class="col-sm-12 form-error">
            {{ formErrors.organizationVATNumber }}
          </div>
        </div>
      </md-card-content>
      <md-card-actions align="end">
        <button [disabled]="loading || !invoiceNoticeForm.valid" md-raised-button color="accent"><md-spinner *ngIf="loading" class="loading-spinner" color="accent"></md-spinner> <span *ngIf="!loading">Enregistrer</span></button>
      </md-card-actions>
    </form>
  </md-card>
</div>
