<div class="wrapper">
    <h1>Test Zone</h1>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.id}} : {{user.username}} == ({{user.roles}} == {{user.email}} == {{user.password}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
</div>

<div class="wrapper">
    <nav>
        <h1>Code couleur</h1>
        <a class="routedarkgreen">OK</a>
        <a class="routegreen">RWD A Check</a>
        <a class="routelightgreen">RWD a faire</a>
        <a class="routedarkblue">Lien avec l'API Manquant</a>
        <a class="routeblue">1-2 Fonctionnalités manquantes</a>
        <a class="routelightblue">Fonctionnalité principale manquantes</a>
        <a class="routeyellow">Debut intégration</a>
        <a class="routeorange">Page non crée</a>
        <a class="routered">N'existe pas dans cette release</a>
    </nav>
    <nav>
        <h1>Landing</h1>
        <a routerLink="/welcomecoach" class="routeblue">Landing coach</a>
        <a routerLink="/search" class="routeblue">Landing Recherche</a>
    </nav>
    <nav>
        <h1>Espace Coach</h1>
        <a routerLink="/coach" class="routeblue">Coach générique</a>
        <a routerLink="/coach/profile" class="routelightblue">Coach Mon profil</a>
        <a routerLink="/coach/my-workout" class="routeyellow">Coach Mes annonces</a>
        <a routerLink="/coach/my-address" class="routeyellow">Coach Mes adresses</a>
    </nav>
</div>
<div class="wrapper">
    <nav>
        <h1>Landing</h1>
        <a routerLink="/welcome/sporty" class="routered">Landing utilisateurs</a>
    </nav>
    <nav>
        <h1>Espace Coach</h1>
        <a routerLink="/coach/my-dashboard" class="routered">Coach my dashboard</a>
        <a routerLink="/coach/add-workout" class="routered">Coach Ajouter une annonce</a>
        <a routerLink="/coach/edit-workout" class="routered">Coach Modifier un annonce</a>
        <a routerLink="/coach/my-booking" class="routered">Coach Mes reservations</a>
        <a routerLink="/coach/my-images" class="routered">Coach Mes Images</a>
        <a routerLink="/coach/my-paiement" class="routered">Coach Mes Moyens de paiement</a>
        <a routerLink="/coach/my-diplome" class="routered">Coach Mes Diplomes</a>
        <a routerLink="/coach/my-carte-pro" class="routered">Coach indiquer ma carte pro</a>
    </nav>
    <nav>
        <h1>Pages CMS</h1>
        <a routerLink="/cms/faq/coach" class="routered">FAQ coach</a>
        <a routerLink="/cms/faq/sporty" class="routered">FAQ utilisateur</a>
        <a routerLink="/cms/cgv" class="routered">CMS CGV</a>
        <a routerLink="/cms/cgu" class="routered">CMS CGU</a>
        <a routerLink="/cms/mentions-legales"  class="routered">CMS Mentions légales</a>
    </nav>
    <nav>
        <h1>Recherche resultat spécifique</h1>
        <a routerLink="/planning" class="routered">Résultat neutre</a>
        <a routerLink="/" class="routered">Resultat sport</a>
        <a routerLink="/" class="routered">Resultat Date</a>
        <a routerLink="/" class="routered">Voir un cours</a>
        <a routerLink="/" class="routered">Reserver un cours</a>
        <a routerLink="/" class="routered">Payer une reservation</a>
        <a routerLink="/" class="routered">Confirmation de reservation</a>
    </nav>
    <nav>
        <h1>Espace User</h1>
        <a routerLink="/sporty" class="routered">Utilisateur générique</a>
        <a routerLink="/sporty/profile" class="routered">Utilisateur Mon profil</a>
        <a routerLink="/sporty/my-paiement" class="routered">Utilisateur Mes moyens de paiements</a>
        <a routerLink="/sporty/my-coming-workout" class="routered">Utilisateur Mes cours à venir</a>
        <a routerLink="/sporty/my-past-workout" class="routered">Utilisateur Mes cours précédent</a>
    </nav>
</div>
<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>

  <div class="app-content">

    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>

    <md-card>
      <md-radio-button name="symbol">Alpha</md-radio-button>
      <md-radio-button name="symbol">Beta</md-radio-button>
      <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
    </md-card>

    <md-card class="app-input-section">
      <md-input placeholder="First name"></md-input>

      <md-input #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="end">
          {{nickname.characterCount}} / 50
        </md-hint>
      </md-input>

      <md-input>
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> Favorite phone
        </md-placeholder>
      </md-input>

      <md-input placeholder="Motorcycle model">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
      </md-input>
    </md-card>

    <md-card>
      <md-list class="app-list">
        <md-list-item *ngFor="let food of foods">
          <h3 md-line>{{food.name}}</h3>
          <p md-line class="demo-secondary-text">{{food.rating}}</p>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card>
      <md-spinner class="app-spinner"></md-spinner>
      <md-spinner color="accent" class="app-spinner"></md-spinner>
    </md-card>

    <md-card>
      <label>
        Indeterminate progress-bar
        <md-progress-bar
            class="app-progress"
            mode="indeterminate"
            aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>

      <label>
        Determinate progress bar - {{progress}}%
        <md-progress-bar
            class="app-progress"
            color="accent"
            mode="determinate"
            [value]="progress"
            aria-label="Determinate progress-bar example"></md-progress-bar>
      </label>
    </md-card>

    <md-card>
      <md-tab-group>
        <md-tab label="Earth">
          <p>EARTH</p>
        </md-tab>
        <md-tab label="Fire">
          <p>FIRE</p>
        </md-tab>
      </md-tab-group>
    </md-card>

    <md-card>
      <md-icon>build</md-icon>
    </md-card>

    <md-card>
      <button md-button [md-menu-trigger-for]="menu">
        MENU
      </button>
    </md-card>

    <md-menu #menu="mdMenu">
      <button md-menu-item>Lemon</button>
      <button md-menu-item>Lime</button>
      <button md-menu-item>Banana</button>
    </md-menu>

    <md-card>
      <p>Last dialog result: {{lastDialogResult}}</p>
      <button md-raised-button (click)="openDialog()">DIALOG</button>
      <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
    </md-card>

  </div>

</md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
