.mat-card.workout-card {
    padding: 0 24px 24px !important;
    margin-bottom: 24px;
}
.mat-card > .colored:first-child {
  margin-top: -24px;
  display: flex;
  padding: 0 0 0 24px;
}
.image-container {
    position: relative;

    .mat-card-image {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .price {
        position: absolute;
        top: 0;
        right: -12px;
        height: 42px;
        background: #fff;
        color: #666;
        padding: 0.5em;
        margin-right: 8px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
        z-index: 2;
    }

    .sport {
        position: absolute;
        top: 4px;
        background: rgba(61 ,202, 216, 0.5);
        padding: 5px;
        width: calc( 100% + 48px);
        margin-left: -24px;
        margin-right: 24px;
        z-index: 1;
        color: #fff;
        padding-left: 24px;
    }
}

.colored {
  background: #3dcad8;
  color: #ffffff;
  margin-left: -24px;
  margin-right: -24px;
}

.mat-card-content p.styled {
    font-size: 15px;
  font-family: 'texgyreadventor';
  font-weight: bold;
  color: #888;
  margin-top: 16px;
}

.timeblock {
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #fff;

  .small {
    font-size: 0.75rem;
    margin-bottom: 0;
    text-transform: none;
    color: #666;
    &.bold {
        font-weight: bold;
    }
  }

  & > div {
    padding: 0.75rem 0;
    border-right: 1px solid #ffffff;

    &:last-child {
      border-right: none;
    }
  }
}
.tag {
    display: inline-block;
    border: 1px solid #363636;
}
