<nav class="navbar">
    <div class="container">
        <ul class="top-menu" id="side-menu">
            <li><a routerLink="/partner/organization" routerLinkActive="active"><md-icon class="md-18 valign">domain</md-icon> Mon entreprise</a><li>
            <li><a routerLink="/partner/profile" routerLinkActive="active"><md-icon class="md-18 valign">person</md-icon> Mon profil</a><li>
            <li><a routerLink="/partner/planning" routerLinkActive="active"><md-icon class="md-18 valign">view_list</md-icon> Mon planning</a></li>
            <li><a routerLink="/partner/accounting" routerLinkActive="active"><md-icon class="md-18 valign">euro_symbol</md-icon> Ma compta</a><li>
        </ul>
    </div>
</nav>
