<nav class="navbar">
    <div class="container">
        <ul class="top-menu" id="side-menu">
            <li><a routerLink="/partner/organization" routerLinkActive="active"><mat-icon class="mat-18 valign">domain</mat-icon> Entreprise</a><li>
            <li><a routerLink="/partner/coach" routerLinkActive="active"><mat-icon class="mat-18 valign">person</mat-icon> Coachs</a><li>
            <li><a routerLink="/partner/planning" routerLinkActive="active"><mat-icon class="mat-18 valign">today</mat-icon> Plannings</a></li>
            <li><a routerLink="/partner/workouts" routerLinkActive="active"><mat-icon class="mat-18 valign">view_list</mat-icon> Séances</a></li>
            <li><a routerLink="/partner/accounting" routerLinkActive="active"><mat-icon class="mat-18 valign">euro_symbol</mat-icon> Ma compta</a><li>
        </ul>
    </div>
</nav>
