<nav class="navbar">
    <div class="container">
        <ul class="top-menu" id="side-menu">
            <li><a routerLink="/partner/organization" routerLinkActive="active"><md-icon class="md-18 valign">domain</md-icon> Entreprise</a><li>
            <li><a routerLink="/partner/coach" routerLinkActive="active"><md-icon class="md-18 valign">person</md-icon> Coachs</a><li>
            <li><a routerLink="/partner/planning" routerLinkActive="active"><md-icon class="md-18 valign">today</md-icon> Plannings</a></li>
            <li><a routerLink="/partner/workouts" routerLinkActive="active"><md-icon class="md-18 valign">view_list</md-icon> Séances</a></li>
            <li><a routerLink="/partner/accounting" routerLinkActive="active"><md-icon class="md-18 valign">euro_symbol</md-icon> Ma compta</a><li>
        </ul>
    </div>
</nav>
