<div class="row">
    <div class="col-4">
        <h1 class="h2 alt-font mb-3">Vos coordonnées bancaires</h1>
        <p class="help_text">
            Il s'agit du compte bancaire vers lequel sont virées les paiements suite au cours réalisé avec Bemoove.
            Perferendis autem esse accusamus in culpa enim in cumque. Molestias atque autem sed iusto. Minus impedit animi minus adipisci numquam. Ducimus inventore velit aut et et atque dolor. Dolor aliquid eum cupiditate. Consequatur possimus nihil itaque necessitatibus eius.
        </p>
    </div>
</div>
<div class="row">
  <mat-card class="form-card col-4">
    <form *ngIf="bankAccount" [formGroup]="bankAccountForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-card-title color="primary" class="form-card__title">Coordonnées bancaires</mat-card-title>
      <mat-card-content>
        <div class="form-group row">
          <label for="ownerName" class="col-sm-3 col-form-label">Nom et Prénom (ou raison sociale) *</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="ownerName" name="ownerName">
            <div *ngIf="formErrors.ownerName" class="form-error">
              {{ formErrors.ownerName }}
            </div>
          </div>
        </div>

        <div formGroupName="address">
            <div class="form-group row">
              <label for="firstline" class="col-sm-3 col-form-label">Adresse *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="firstline" name="firstline">
                <div *ngIf="formErrors.address.firstline" class="form-error">
                  {{ formErrors.address.firstline }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="secondline" class="col-sm-3 col-form-label">Complément d'adresse</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="secondline" name="secondline">
                <div *ngIf="formErrors.address.secondline" class="form-error">
                  {{ formErrors.address.secondline }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="postalCode" class="col-sm-3 col-form-label">Code postal *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="postalCode" name="postalCode">
                <div *ngIf="formErrors.address.postalCode" class="form-error">
                  {{ formErrors.address.postalCode }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="city" class="col-sm-3 col-form-label">Ville *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="city" name="city">
                <div *ngIf="formErrors.address.city" class="form-error">
                  {{ formErrors.address.city }}
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row">
          <label for="iban" class="col-sm-3 col-form-label">IBAN *</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="iban" name="iban">
            <div *ngIf="formErrors.iban" class="form-error">
              {{ formErrors.iban }}
            </div>
          </div>
        </div>
        <div *ngIf="formResult" class="alert" class="mr-3" [ngClass]="{ 'alert': formResult, 'alert-success': formResult.type === 'success', 'alert-danger': formResult.type === 'error', 'alert-info': formResult.type === 'info', 'alert-warning': formResult.type === 'warn' }">
          <strong>{{formResult.title}}</strong><br/> {{formResult.content}}
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="loading || !bankAccountForm.valid" mat-raised-button color="accent"><mat-spinner *ngIf="loading" diameter="20" class="loading-spinner" color="accent"></mat-spinner> <span *ngIf="!loading">Enregistrer</span></button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
