<form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" [ngSwitch]="theme">
    <div *ngSwitchCase="'material'">
        <div class="col-12 white">
          <mat-input-container class="full-width">
            <input matInput placeholder="Mail" value="" formControlName="email" required>
          </mat-input-container>
        </div>
        <div class="col-12 white password-toggle">
            <mat-input-container class="full-width">
                <input [type]="showpassword ? 'text' : 'password'" matInput placeholder="Mot de passe" value="" formControlName="password" required>
            </mat-input-container>
            <a (click)="passwordToggle()" [ngClass]="showpassword ? 'pwd-toggler-show' : 'pwd-toggler-hide'">Voir le mot de passe</a>
        </div>
        <div class="col-12 white" *ngIf="registerAccountType === 'Partner'">
            <mat-checkbox formControlName="isCoach" required>Je suis un coach sportif</mat-checkbox>
        </div>
        <div *ngIf="formResult" class="alert" class="mr-3" [ngClass]="{ 'alert': formResult, 'alert-success': formResult.type === 'success', 'alert-danger': formResult.type === 'error', 'alert-info': formResult.type === 'info', 'alert-warning': formResult.type === 'warn' }">
          <strong>{{formResult.title}}</strong><br/> {{formResult.content}}
        </div>
        <div class="col-12">
            <button type="submit" mat-raised-button color="primary" class="btn-full-width">S'inscrire</button>
        </div>
    </div>
    <div *ngSwitchDefault>
        <div class="form-group">
          <label for="email">Adresse mail*</label>
          <input type="text" class="form-control" formControlName="email" required />
          <div *ngIf="formErrors.email" class="alert alert-danger">
              {{ formErrors.email }}
          </div>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe*</label>
          <div class="password-toggle">
            <input [type]="showpassword ? 'text' : 'password'" class="form-control" formControlName="password" required />
            <a (click)="passwordToggle()">Toggle</a>
          </div>
          <div *ngIf="formErrors.password" class="alert alert-danger">
              {{ formErrors.password }}
          </div>
          <div *ngIf="formErrors.password" class="help-block">
              {{ formErrors.password }}
          </div>
        </div>
        <div class="form-group" *ngIf="registerAccountType === 'Partner'">
          <label for="email">Code d'inscription *</label>
          <input type="text" class="form-control" formControlName="registrationToken" required />
          <div *ngIf="formErrors.registrationToken" class="alert alert-danger">
              {{ formErrors.email }}
          </div>
        </div>
        <div *ngIf="formResult" class="alert" class="mr-3" [ngClass]="{ 'alert': formResult, 'alert-success': formResult.type === 'success', 'alert-danger': formResult.type === 'error', 'alert-info': formResult.type === 'info', 'alert-warning': formResult.type === 'warn' }">
          <strong>{{formResult.title}}</strong><br *ngIf="formResult.title.length"/> {{formResult.content}}
        </div>
        <div class="form-group">
          <button [disabled]="loading || !RegisterForm.valid" class="btn-full-width" mat-raised-button color="accent"><mat-spinner *ngIf="loading" diameter="20" class="loading-spinner" color="accent"></mat-spinner> <span *ngIf="!loading">S'inscrire</span></button>
        </div>
    </div>
</form>
