<div class="hollow-modal">
  <md-tab-group [dynamicHeight]="true">
    <md-tab label="Ma séance">
      <div class="tab-container">
        <workout-information [workout]="workout" *ngIf="workout"></workout-information>
      </div>
      <div class="pull-right">
          <button md-raised-button color="warn"><md-icon>delete</md-icon>Supprimer</button>
        <button md-raised-button color="primary" (click)="editWorkout()" *ngIf="editable"><md-icon>edit</md-icon>Modifier</button>
        </div>
    </md-tab>
    <md-tab label="Inscrit">
      <div class="tab-container">
          <table>
              <tr><th>Ici la liste de vos inscrits à ce cours</th></tr>
              <tr *ngFor="let booking of bookings">
                  <td>{{ booking.user.email }}</td>
              </tr>
          </table>
      </div>
    </md-tab>
  </md-tab-group>
</div>
