<form name="addressform" (ngSubmit)="f.form.valid && addAddress()" #f="ngForm" novalidate>
    <md-spinner *ngIf="loading"></md-spinner>
    <md-card class="demo-card demo-basic" *ngIf="!loading">
    <md-card-title color="primary">
        <md-input-container class="demo-full-width">
            <input mdInput #name
            placeholder="Nom de l'adresse"
            name="name"
            [(ngModel)]="model.name" />
        </md-input-container>
    </md-card-title>
    <!-- <img md-card-image src="http://placehold.it/350x150"> -->
    <md-card-content>
            <p>
                <md-input-container class="demo-full-width col-xs-12">
                  <textarea mdInput placeholder="Address" [(ngModel)]="model.firstline" name="firstline"></textarea>
                </md-input-container>
                <md-input-container class="demo-full-width col-xs-12">
                  <textarea mdInput placeholder="Address 2" [(ngModel)]="model.secondline" name="secondline"></textarea>
                </md-input-container>
            </p>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input-container class="demo-full-width">
                            <input mdInput #name
                            placeholder="Ville"
                            name="city"
                            [(ngModel)]="model.city">
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container class="demo-full-width">
                            <input mdInput #postalCode
                            maxlength="5"
                            placeholder="Code postal"
                            name="postalcode"
                            [(ngModel)]="model.postalCode">
                        </md-input-container>
                    </td>
                </tr>
            </table>
    </md-card-content>
    <md-card-actions align="end">
        <button type="submit" md-raised-button color="primary">Enregistrer</button>
    </md-card-actions>
    </md-card>
</form>
