<div class="hollow-modal">
  <h2 class="text-center">Découvrez comment libérer vos pratiques sportives.</h2>
  <h3 class="text-center">Inscrivez-vous à la newsletter.</h3>
  <form id="subscribe" name='subscribe-newsletter' (ngSubmit)="subscribe()">
    <div class="row small-collapse">
      <div class="col-xs-8">
        <input type="email" required name="mail-subscriber" id="email" autocomplete="off" placeholder="hello@bemoove.fr" class="form-control" [(ngModel)]="mailsubscriber"/>
      </div>
        <button type="submit" md-raised-button color="primary" class="col-xs-4">VALIDER</button>
    </div>
    <div id="result" class="">
      <div class="error_mail">Cette adresse mail n'est pas valide.</div>
      <div class="error_supp"></div>
    </div>
  </form>
</div>
