<md-card>
  <md-card-header class="colored">
      <div class="price">
          {{workout.price}} €
      </div>
      <md-card-title class="title">{{workout.title}}&nbsp;{{workout.id}}</md-card-title>
      <md-card-subtitle>{{workout.sport.name}}&nbsp;</md-card-subtitle>
  </md-card-header>
  <div *ngIf="!workout.photo.path && !workout.photo.base64data" md-card-image><md-icon class="md-72">fitness_center</md-icon></div>
  <img *ngIf="workout.photo.base64data && !workout.photo.path" md-card-image src="{{workout.photo.base64data}}">
  <img *ngIf="workout.photo.path && !workout.photo.base64data" md-card-image src="{{workout.photo.path}}">
  <md-card-content>
    <div class="row colored timeblock">
      <div class="col-8">
        {{workout.startdate | date: 'EEEE d MMMM'}}
        <p class="small">{{workout.address.city}}</p>
      </div>
      <div class="col-2">
        <p class="small">début</p>
        {{workout.startdate | date: 'shortTime'}}
      </div>
      <div class="col-2">
        <p class="small">fin</p>
        {{workout.enddate | date: 'shortTime'}}
      </div>
    </div>
    <div class="description">
      <p class="styled">{{workout.description}}</p>
      <p class="styled">{{workout.outfit}}</p>
      <p class="styled">{{workout.notice}}</p>
      <div *ngFor="let tag of workout.tags">
        <p><b>{{tag.name}}</b></p>
      </div>
    </div>
  </md-card-content>
</md-card>
