<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><mat-icon class="mat-18">lock</mat-icon> Reservation en ligne</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4">
            Confiance 1
          </div>
          <div class="col-sm-4">
            Confiance 2
          </div>
          <div class="col-sm-4">
            Confiance 3
          </div>
        </div>
        <div *ngIf="currentStep === 1">
          <h1 class="h2 alt-font mb-3">Connexion</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="grey-form-card">
                <div class="grey-form-card-title">
                  <h4>Déjà un compte ?</h4>
                </div>
                <div class="grey-form-card-content">
                  <login-form-reactive (onSuccess)="goToStep2($event)"></login-form-reactive>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="grey-form-card">
                <div class="grey-form-card-title">
                  <h4>Nouveau compte</h4>
                </div>
                <div class="grey-form-card-content">
                  <register-form-reactive (onSuccess)="goToStep2($event)"></register-form-reactive>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentStep === 2">
          <div class="row">
            <div class="col-sm-12">
              <div class="grey-form-card">
                <div class="grey-form-card-title">
                  <h4>Informations</h4>
                </div>
                <user-information-form (onSuccess)="goToStep3($event)"></user-information-form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentStep === 3">
          <div class="row">
            <div class="col-sm-12">
              <order-summary [cart]="cart"></order-summary>
              <order-payment-form></order-payment-form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        Résumé
      </div>
    </div>
  </div>
</main>
