<form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-card class="form-card">
    <mat-card-title color="primary" class="form-card__title">Modifier mon password</mat-card-title>
    <mat-card-content>
      <div class="form-group row">
        <label for="oldpassword" class="col-sm-3 col-form-label">Ancien mot de passe</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="oldPassword" name="oldpassword">
          <div *ngIf="formErrors.oldPassword" class="form-error">
            {{ formErrors.oldPassword }}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">Nouveau mot de passe</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="password" name="password">
          <div *ngIf="formErrors.password" class="form-error">
            {{ formErrors.password }}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordrepeat" class="col-sm-3 col-form-label">Confirmation</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="passwordRepeat" name="passwordrepeat">
          <div *ngIf="formErrors.passwordRepeat" class="form-error">
            {{ formErrors.passwordRepeat }}
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="accent">Enregistrer</button>
    </mat-card-actions>
  </mat-card>
</form>
