$white: #fff;
$grey: #363636;

.jumbotron {
  position: relative;
  background: url('/assets/img/home-jumbotron.jpg');
  min-height: calc(100vh - 8rem);
  z-index: 10;
  background-size: cover;
  background-position: center;
  margin-bottom: 4em;

  h1 {
    font-size: 2.25em;
    color: $white;
    margin-top: 3.5em;
    text-align: center;
    text-shadow: 1px 1px 2px $grey;
  }

  .form-control {
    display: inline-block;
    width: calc(100% - 12em);
  }
}

.avantages {
  margin-bottom: 4em;

  h2 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0.5rem;
    padding-top: 0.25rem;
    color: $grey;
  }
}

.avantages__item {
  margin-bottom: 1em;
}

.avantages__item__header {
  height: 12rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.85;

    h3 {
      text-shadow: 0 0 2px #111111;
    }
  }

  h3 {
    color: $white;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 0 2px $grey;
  }
}

.best-partners {
  background: url('/assets/img/avantages/best-partners.jpg');
  background-size: cover;
  background-position: center;
}

.with-friends {
  background: url('/assets/img/avantages/with-friends.jpg');
  background-size: cover;
  background-position: top;
}

.with-people {
  background: url('/assets/img/avantages/with-people.jpg');
  background-size: cover;
  background-position: bottom;
}

.simplicity {
  background: url('/assets/img/avantages/simplicity.jpg');
  background-size: cover;
  background-position: center;
}

.once-or-more {
  background: url('/assets/img/avantages/once-or-more.jpg');
  background-size: cover;
  background-position: center;
}

.bloc-next {
  background: #3dcad8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;

  & * {
    font-size: 36px;
    line-height: 1;
    height: 36px;
    width: 36px;
  }
}
